%nav.navbar.navbar-inverse.navbar-absolute-top
  .container
    .navbar-header
      = link_to root_path, class: 'navbar-brand' do
        = retina_image_tag 'logo.png'
    %ul.nav.navbar-nav.navbar-right
      %li= link_to phrase('sign_in.navbar.sign_up'), new_registration_path, class: 'btn-nav'

%section.section__bg--cover.section__bg--cover-index
  .container
    .row
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2
        %h3.hk__grotesk-light.text__white.text-center.section__title= phrase('sign_in.banner.title')
        = react_component('SessionForm')
        %p.text__gray--medium-dark.text-center.tab-pane-footer
          = phrase('sign_in.banner.text')
          = link_to phrase('sign_in.navbar.sign_up'), new_registration_path, class: 'text__white'

= render 'layouts/mobile_version'