.tab-content
  .tab-pane.tab-pane-white.tab-pane--block.regular.active
    %h1.hk__grotesk-light
      Users
      = "(#{User.with_deleted.count})"
    .tab-pane__content
      %table.table.table-condensed
        %thead
          %tr
            %th Name
            %th Email
            %th Account
            %th Organization
            %th

        %tbody
          - @users.each do |user|
            %tr
              %td= user.name
              %td= user.email
              %td
                - if user.facebook_uid
                  = link_to user.facebook_uid, "https://facebook.com/#{user.facebook_uid}"
                - if user.twitter_uid
                  = link_to user.twitter_uid, "https://twitter.com/intent/user?user_id=#{user.twitter_uid}"
              %td= user.organization.name if user.organization
              %td= link_to 'Destroy', administration_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

      = paginate @users
