.row
  .col-sm-6.col-sm-offset-3
    .tab-content
      .tab-pane.tab-pane-white.tab-pane--block.regular.active
        %h3.hk__grotesk-light.text-center Sign in
        .tab-pane__content
          = bootstrap_form_for(resource, as: resource_name, url: admin_session_path) do |f|
            = f.email_field :email, autofocus: true
            = f.password_field :password, autocomplete: 'off'
            .text-right
              = f.submit 'Log in', class: 'btn btn-primary'
