%script{ type: 'text/javascript', src: 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDgriePPEz5BH7yv2P9z-ARcOfQpO2-ME8&libraries=places' }

%nav.navbar.navbar-inverse.navbar-absolute-top
  .container
    .navbar-header
      = link_to root_path, class: 'navbar-brand' do
        = retina_image_tag 'logo.png'
    %ul.nav.navbar-nav.navbar-right
      %li= link_to phrase('sign_up.navbar.sign_in'), new_session_path, class: 'btn-nav'

%section.section__screen.section__bg--cover.section__bg--cover-index
  .container
    .row
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2
        %h3.hk__grotesk-light.text__white.text-center.section__title= phrase('sign_up.banner.title')
        = react_component('RegistrationForm', organization: @serialized_organization)
        %p.text__gray--medium-dark.text-center.tab-pane-footer
          = phrase('sign_up.banner.text')
          = link_to phrase('sign_up.navbar.sign_in'), new_session_path, class: 'text__white'

= render 'layouts/mobile_version'
