%nav.navbar.navbar-inverse.navbar-absolute-top
  .container
    .navbar-header
      = link_to root_path, class: 'navbar-brand' do
        = retina_image_tag 'logo.png'
    %ul.nav.navbar-nav.navbar-right
      %li= link_to phrase('about.navbar.volunteers'), volunteers_path
      %li= link_to phrase('about.navbar.organizations'), home_organizations_path

%section.section__bg--cover.section__bg--cover-about.section__banner.text__white
  .v-align-middle
    .container.text-center
      .row
        .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
          %h1.hk__grotesk-bold.page__title= phrase 'about.banner.title'
          %p.text__huge.hk__grotesk-light= phrase 'about.banner.subtitle'
          = react_component('VideoPlayButton', videoSrc: 'https://www.youtube.com/embed/DREK0G5tfKM?autoplay=1&showinfo=0')
  .icon.icon__arrow-scroll-down

%section.section__page.section__regular.section__no-bottom.text__medium.hk__grotesk-light.section__white.mobile__visible.section__content-editable
  .container
    .row
      .col-xs-10.col-xs-offset-1= phrase 'about.content.text.1'
      .col-xs-8.col-xs-offset-2
        %hr
      .col-xs-10.col-xs-offset-1= phrase 'about.content.text.2'
      .col-xs-8.col-xs-offset-2
        %hr
      .col-xs-10.col-xs-offset-1
        .row
          .col-sm-4.text-right
            .image__circle-cover.image__circle-cover-joe
              .image__circle-cover-inner
          .col-sm-7
            %h4= phrase 'about.content.header.joe'
            %p= phrase 'about.content.text.joe'
        .row
          .col-sm-4.text-right
            .image__circle-cover.image__circle-cover-chip
              .image__circle-cover-inner
          .col-sm-7
            %h4= phrase 'about.content.header.chip'
            %p= phrase 'about.content.text.chip'

= render 'layouts/mobile_version'

= react_component('VideoModal')