%nav.navbar.navbar-inverse.navbar-absolute-top
  .container
    .navbar-header
      = link_to root_path, class: 'navbar-brand' do
        = retina_image_tag 'logo.png'

%section.section__bg--cover.section__bg--cover-index.section__banner.text__white.section__welcome
  .v-align-middle
    .container.text-center
      .row
        .col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1
          %h1.hk__grotesk-bold.page__title= phrase 'home.banner.title'
          %p.text__huge.hk__grotesk-light= phrase 'home.banner.subtitle'
        .col-sm-12
          .row.section__block-row
            .col-md-4.section__block.section__block--wide.section__block--no-border
              .section__block-inner
                %span.icon.icon__volunteer
                %br
                = link_to phrase('home.link.volunteer'), volunteers_path, class: 'btn btn-primary btn-lg'
            .col-md-4.section__block.section__block--wide.section__block--no-border
              .section__block-inner
                %span.icon.icon__organization
                %br
                = link_to phrase('home.link.organization'), home_organizations_path, class: 'btn btn-primary btn-lg'
            .col-md-4.section__block.section__block--wide.section__block--no-border
              .section__block-inner
                %span.icon.icon__about
                %br
                = link_to phrase('home.link.about'), about_path, class: 'btn btn-transparent btn-lg btn-border-white'
        .col-sm-12.text-center
          = react_component('VideoPlayButton', videoSrc: 'https://www.youtube.com/embed/DREK0G5tfKM?autoplay=1&showinfo=0')

= render 'layouts/mobile_version'

= react_component('VideoModal')