%nav.navbar.navbar-inverse.navbar-absolute-top
  .container
    .navbar-header
      = link_to root_path, class: 'navbar-brand' do
        = retina_image_tag 'logo.png'
    %ul.nav.navbar-nav.navbar-right
      %li= link_to phrase('organization.navbar.volunteers'), volunteers_path
      %li= link_to phrase('organization.navbar.applications'), '#application', class: 'page__nav'
      %li= link_to phrase('organization.navbar.sign_in'), new_session_path, class: 'btn-nav'

%section.section__bg--cover.section__bg--cover-organization.section__banner.text__white
  .v-align-middle
    .container
      .row
        .col-md-6.col-sm-9
          %h1.hk__grotesk-bold.page__title= phrase 'organization.banner.title'
          %p.text__huge.hk__grotesk-light= phrase 'organization.banner.subtitle'
          = link_to phrase('organization.banner.link'), new_registration_path, class: 'btn btn-huge btn-circle btn-circle-blue'
  .icon.icon__arrow-scroll-down

%section.section__white.section__regular.section__no-bottom
  .container.text-center
    .row
      .col-md-8.col-md-offset-2.col-sm-12.col-sm-offset-0
        %h2.section__title.section__title--lg.hk__grotesk-light= phrase 'organization.opportunities.title'
        %h3.hk__grotesk-light.text__gray--medium-dark.section__subtitle= phrase 'organization.opportunities.subtitle'
      .col-sm-12
        %ul.nav.nav-tabs.nav-inline{ role: 'tablist' }
          %li.active{ role: 'presentation' }
            %a{ href: '#community', aria: { controls: 'home' }, role: 'tab', data: { toggle: 'tab' } }= phrase 'organization.opportunities.community'
          %li{ role: 'presentation' }
            %a{ href: '#poor', aria: { controls: 'home' }, role: 'tab', data: { toggle: 'tab' } }= phrase 'organization.opportunities.poor_and_homeless'
          %li{ role: 'presentation' }
            %a{ href: '#animals', aria: { controls: 'home' }, role: 'tab', data: { toggle: 'tab' } }= phrase 'organization.opportunities.furry_friends'
          %li{ role: 'presentation' }
            %a{ href: '#children', aria: { controls: 'home' }, role: 'tab', data: { toggle: 'tab' } }= phrase 'organization.opportunities.children_and_teens'
          %li{ role: 'presentation' }
            %a{ href: '#elderly', aria: { controls: 'home' }, role: 'tab', data: { toggle: 'tab' } }= phrase 'organization.opportunities.sick_and_elderly'

        .tab-content
          .tab-pane.active#community{ role: 'tabpanel' }
            .row
              .col-sm-4
                = retina_image_tag 'opportunities/opportunity-1.png', class: 'img-responsive img-inline animate-scroll-fade-in-offset-top-2'
              .col-sm-4
                = retina_image_tag 'opportunities/opportunity-2.png', class: 'img-responsive img-inline animate-scroll-fade-in-offset-top-1'
              .col-sm-4
                = retina_image_tag 'opportunities/opportunity-3.png', class: 'img-responsive img-inline animate-scroll-fade-in-offset-top-2'

          .tab-pane#poor{ role: 'tabpanel' }
            .row
              .col-sm-4
                = retina_image_tag 'opportunities/opportunity-1.png', class: 'img-responsive img-inline animate-scroll-fade-in-offset-top-2'
              .col-sm-4
                = retina_image_tag 'opportunities/opportunity-2.png', class: 'img-responsive img-inline animate-scroll-fade-in-offset-top-1'
              .col-sm-4
                = retina_image_tag 'opportunities/opportunity-3.png', class: 'img-responsive img-inline animate-scroll-fade-in-offset-top-2'

          .tab-pane#animals{ role: 'tabpanel' }
            .row
              .col-sm-4
                = retina_image_tag 'opportunities/opportunity-1.png', class: 'img-responsive img-inline animate-scroll-fade-in-offset-top-2'
              .col-sm-4
                = retina_image_tag 'opportunities/opportunity-2.png', class: 'img-responsive img-inline animate-scroll-fade-in-offset-top-1'
              .col-sm-4
                = retina_image_tag 'opportunities/opportunity-3.png', class: 'img-responsive img-inline animate-scroll-fade-in-offset-top-2'

          .tab-pane#children{ role: 'tabpanel' }
            .row
              .col-sm-4
                = retina_image_tag 'opportunities/opportunity-1.png', class: 'img-responsive img-inline animate-scroll-fade-in-offset-top-2'
              .col-sm-4
                = retina_image_tag 'opportunities/opportunity-2.png', class: 'img-responsive img-inline animate-scroll-fade-in-offset-top-1'
              .col-sm-4
                = retina_image_tag 'opportunities/opportunity-3.png', class: 'img-responsive img-inline animate-scroll-fade-in-offset-top-2'

          .tab-pane#elderly{ role: 'tabpanel' }
            .row
              .col-sm-4
                = retina_image_tag 'opportunities/opportunity-1.png', class: 'img-responsive img-inline animate-scroll-fade-in-offset-top-2'
              .col-sm-4
                = retina_image_tag 'opportunities/opportunity-2.png', class: 'img-responsive img-inline animate-scroll-fade-in-offset-top-1'
              .col-sm-4
                = retina_image_tag 'opportunities/opportunity-3.png', class: 'img-responsive img-inline animate-scroll-fade-in-offset-top-2'


%section.section__white.section__regular
  .container.text-center
    .row
      .col-sm-8.col-sm-offset-2
        %h2.section__title.section__title--lg.hk__grotesk-light= phrase 'organization.features.title'
        %h3.hk__grotesk-light.text__gray--medium-dark.section__subtitle= phrase 'organization.features.subtitle'
      .col-sm-12
        .row.section__block-row
          .col-sm-4.section__block
            .section__block-inner
              %span.icon.icon__layers
              %p.text__huge.text-uppercase= phrase 'organization.features.block.1.title'
              %p.text__huge= phrase 'organization.features.block.1.text'
          .col-sm-4.section__block
            .section__block-inner
              %span.icon.icon__clock
              %p.text__huge.text-uppercase= phrase 'organization.features.block.2.title'
              %p.text__huge= phrase 'organization.features.block.2.text'
          .col-sm-4.section__block
            .section__block-inner
              %span.icon.icon__share
              %p.text__huge.text-uppercase= phrase 'organization.features.block.3.title'
              %p.text__huge= phrase 'organization.features.block.3.text'

%section.section__bg--cover.bg__blue.section__banner.text__white.section__macbook#application
  .v-align-middle.reset-sm
    .container.text-center-sm
      .row
        .col-md-5.col-md-offset-1.col-sm-8.col-sm-offset-2
          %h1.hk__grotesk-light.page__title= phrase 'organization.application.title'
          %p.text__huge.hk__grotesk-light= phrase 'organization.application.subtitle'
          = link_to phrase('organization.application.link'), new_registration_path, class: 'btn btn-huge btn-circle btn-circle-blue'
  .macbook
  .ipad

= render 'layouts/mobile_version'
