%nav.navbar.navbar-inverse.navbar-absolute-top.navbar-blue.mobile__visible
  .container.text-center-sm
    .navbar-header
      = link_to root_path, class: 'navbar-brand' do
        = retina_image_tag 'logo.png'
    %ul.nav.navbar-nav.navbar-right
      %li= link_to phrase('privacy.navbar.organizations'), volunteers_path
      %li= link_to phrase('privacy.navbar.application'), "#{volunteers_path}#application"

%section.section__page.section__regular.section__no-bottom.text__medium.hk__grotesk-light.section__white.mobile__visible.section__content-editable
  .container
    .row
      .col-xs-10.col-xs-offset-1= phrase 'privacy.content.text'