%nav.navbar.navbar-default.navbar-blue
  .container
    .row.navbar__headline
      .col-sm-4
        = link_to 'Back to dashboard', opportunities_path, class: 'btn btn-back'
      .col-sm-4.text-center
        %h3.navbar__title Profile settings

%script{ type: 'text/javascript', src: 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDgriePPEz5BH7yv2P9z-ARcOfQpO2-ME8&libraries=places' }

.container.content-container
  = react_component('SettingsEditor', organization: @serialized_organization, url: settings_path, http_method: 'PUT')
