.tab-content
  .tab-pane.tab-pane-white.tab-pane--block.regular.active
    %h1.hk__grotesk-light
      Organizations
      = "(#{Organization.with_deleted.count})"
    .tab-pane__content
      %table.table.table-condensed
        %thead
          %tr
            %th Name
            %th Address
            %th User
            %th

        %tbody
          - @organizations.each do |organization|
            %tr
              %td= organization.name
              %td= organization.address
              %td= User.where(organization_id: organization.id).first.try(:name)
              %td= link_to 'Destroy', administration_organization_path(organization), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

      = paginate @organizations
