%section.section__footer.section__white.mobile__visible
  .container.text-center
    .row
      .col-sm-4.footer__block
        %p.text-uppercase.text__gray--medium-dark.hk__grotesk-regular.footer__title.text__medium= phrase 'footer.block.1.title'
        %p.text__huge.hk__grotesk-regular= phrase 'footer.block.1.text'
      .col-sm-4.footer__block
        %p.text-uppercase.text__gray--medium-dark.hk__grotesk-regular.footer__title.text__medium= phrase 'footer.block.2.title'
        %p.text__huge.hk__grotesk-regular= phrase 'footer.block.2.link.1'
      .col-sm-4.footer__block
        %p.text-uppercase.text__gray--medium-dark.hk__grotesk-regular.footer__title.text__medium= phrase 'footer.block.3.title'
        %p.text__huge.hk__grotesk-regular= phrase 'footer.block.3.link.1'
    .row
      .col-sm-4.footer__block
        %p.text-uppercase.text__gray--medium-dark.hk__grotesk-regular.footer__title.text__medium= phrase 'footer.block.4.title'
        %p.text__huge.hk__grotesk-regular
          = phrase 'footer.block.4.link.1'
          %br
          = phrase 'footer.block.4.link.2'
      .col-sm-4.footer__block
        %p.text-uppercase.text__gray--medium-dark.hk__grotesk-regular.footer__title.text__medium= phrase 'footer.block.5.title'
        %p.text__huge.hk__grotesk-regular= phrase 'footer.block.5.link.1'
      .col-sm-4.footer__block
        %p.text-uppercase.text__gray--medium-dark.hk__grotesk-regular.footer__title.text__medium= phrase 'footer.block.6.title'
        %p.text__huge.hk__grotesk-regular
          = link_to 'https://www.facebook.com/JoeVolunteer-454098901412725/', class: 'text-decorate-none' do
            %span.icon.icon__facebook
          = link_to 'https://twitter.com/therealjoevol', class: 'text-decorate-none' do
            %span.icon.icon__twitter