%section.section__white.section__regular.section__no-bottom
  .container.text-center
    .row
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
        %h2.section__title.section__title--lg.hk__grotesk-light Stay in touch
        %h3.hk__grotesk-light.text__gray--medium-dark.section__subtitle
          You’ll get an opportunity to pick from five categories of the types  
          of Volunteer Opportunities in which you’re most interested in helping