.tab-content
  .tab-pane.tab-pane-white.tab-pane--block.regular.active
    %h1.hk__grotesk-light
      Opportunities
      = "(#{Opportunity.with_deleted.count})"
    .tab-pane__content
      %table.table.table-condensed
        %thead
          %tr
            %th Title
            %th Summary
            %th Description
            %th Start
            %th End
            %th Organization
            %th

        %tbody
          - @opportunities.each do |opportunity|
            %tr
              %td= opportunity.title
              %td= truncate(opportunity.summary, length: 100)
              %td= truncate(opportunity.description, length: 100)
              %td= opportunity.start_date.strftime('%b %d')
              %td= opportunity.end_date.strftime('%b %d')
              %td= opportunity.organization.name
              %td= link_to 'Destroy', administration_opportunity_path(opportunity), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

      = paginate @opportunities
