.v-align-middle
  position: absolute
  width: 100%
  left: 0
  top: 50%
  transform: translateY(-50%)
  &.reset-sm
    @media (max-width: $screen-md)
      position: relative
      top: 0
      transform: none