.avatar__preview
  width: 34px
  height: 34px
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  background-color: $white
  border: 2px solid $white
  display: inline-block
  border-radius: 50%
  position: relative
  z-index: 2
  vertical-align: middle
  & + .avatar__preview
    margin-left: -8px
    z-index: 1
    & + .avatar__preview
      z-index: 0