.btn
  &:hover,
  &:focus,
  &:active
    box-shadow: none

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn
  background: $gray-light
  border-color: darken($gray-light, 5%)
  &:hover
    background: $gray-light
    border-color: darken($gray-light, 5%)

.btn-back
  color: $white
  font-size: 16px
  padding: 0
  border: 0
  &:hover,
  &:active,
  &:focus
    color: $white
  &:before
    content: ''
    width: 19px
    height: 19px
    background-image: url(asset_path('icons/arrow-left-white.svg'))
    background-position: center center
    background-repeat: no-repeat
    display: inline-block
    vertical-align: bottom
    margin-right: 8px

.btn-transparent
  background: transparent
  display: inline-block
  vertical-align: middle
  border: 0
  &:hover,
  &:focus
    color: inherit

.btn-border-white
  border: 1px solid $white
  color: $white

.btn-circle
  background: transparent
  border-radius: 100px
  border: 1px solid rgba($white, 0.4)
  font-size: 16px
  padding: 4px 23px
  line-height: 19px
  &:hover,
  &:active,
  &:focus
    color: $white

  &.btn-circle-white
    background: $white
    color: $gray-medium-dark

  &.btn-lg
    padding: 10px 36px

  &.btn-huge
    padding: 14px 50px

  &.btn-circle-blue
    background: $blue-light
    color: $white
    border-color: $blue-light

.btn-prepend-plus:before
  content: '+'
  display: inline-block
  margin-right: 4px

.btn-group
  vertical-align: inherit
  &.open
    .dropdown-toggle
      box-shadow: none
  .btn
    font-size: inherit

.btn-fb
  background: $blue-fb
  color: $white
  height: 60px
  border: 0
  &:hover,
  &:active,
  &:focus
    color: $white
  &.has-avatar
    padding: 12px 64px
    .avatar__preview
      margin-right: 8px
  &.btn-fb-inverse
    color: $blue-light
    background: transparent
    border: 1px solid $blue-light

.btn-fb[disabled]
  background: rgba($blue-fb, 0.6)
  &:hover,
  &:active,
  &:focus
    background: rgba($blue-fb, 0.6)

.btn-nav
  border: 1px solid white
  border-radius: 5px

.btn-lg
  font-size: 16px
  line-height: 16px
  padding: 21px 64px

.btn-huge
  font-size: 20px
  line-height: 20px

.btn-play
  display: inline-block