.canvas__preview
  display: block
  width: 68px
  height: 68px
  border-radius: 50%
  margin: 0 auto 10px
  background-image: url(asset_path('icons/camera.svg'))
  background-color: $gray-medium
  background-position: center center
  background-repeat: no-repeat