.daterangepicker__wrapper
  position: relative

  .icon__arrow--right
    width: 22px
    height: 34px
    float: left
    border-bottom: 1px solid $gray-medium

  .form-control
    float: left
    width: calc(50% - 11px)