.dropdown-menu
  min-width: 120px
  left: 50%
  transform: translateX(-50%)
  border: 0
  font-size: 16px
  &.text-center
    text-align: center
  > li
    > a
      color: $gray-base
      &:hover,
      &:focus
        color: $gray-base
