.control-label
  width: 100%
  font-weight: normal
  position: relative
  margin-bottom: 15px
  &.required:before
    content: '*'
    position: absolute
    left: -18px

.canvas__preview-label
  width: auto
  display: inline-block
  cursor: pointer

.form__error
  color: $red-base

.form-group
  margin-left: 18px
  margin-right: 18px

  &.has-success
    .form-control
      border-color: $gray-medium
      box-shadow: none
      &:focus,
      &.focus
        border-color: $blue-light
    .control-label
      color: $text-color
      &:before
        content: ''
        width: 13px
        height: 13px
        top: 3px
        background-image: url(asset_path('icons/checked.svg'))
        background-position: center center
        background-repeat: no-repeat

  &.has-error
    .form-control
      border-color: $red-base
      box-shadow: none
    .control-label
      color: $text-color
      &:before
        content: ''
        width: 13px
        height: 13px
        top: 4px
        background-image: url(asset_path('icons/error.svg'))
        background-position: center center
        background-repeat: no-repeat

.form-control
  resize: none
  -webkit-appearance: none
  box-shadow: none
  border-top: 0
  border-left: 0
  border-right: 0
  font-size: 16px
  padding: 0 5px 10px 5px
  &:focus,
  &.focus
    box-shadow: none
    border-color: $blue-light
    outline: 0

.form-control[disabled],
fieldset[disabled] .form-control
  background-color: inherit
  cursor: not-allowed !important

.form-control[readonly]
  background-color: inherit
  cursor: pointer !important

textarea.form-control
  max-height: 300px

.form__control-huge
  font-family: 'hk__grotesk-bold'
  font-size: 22px