.icon
  content: ''
  display: inline-block
  vertical-align: middle
  background-position: center center
  background-repeat: no-repeat

  &.icon__community
    width: 70px
    height: 70px
    background-image: url(asset_path('icons/community.svg'))
  &.icon__community--sm
    width: 26px
    height: 26px
    background-image: url(asset_path('icons/community-sm.svg'))

  &.icon__children
    width: 70px
    height: 70px
    background-image: url(asset_path('icons/children.svg'))
  &.icon__children--sm
    width: 26px
    height: 26px
    background-image: url(asset_path('icons/children-sm.svg'))

  &.icon__animals
    width: 70px
    height: 70px
    background-image: url(asset_path('icons/animals.svg'))
  &.icon__animals--sm
    width: 26px
    height: 26px
    background-image: url(asset_path('icons/animals-sm.svg'))

  &.icon__elderly
    width: 70px
    height: 70px
    background-image: url(asset_path('icons/elderly.svg'))
  &.icon__elderly--sm
    width: 26px
    height: 26px
    background-image: url(asset_path('icons/elderly-sm.svg'))

  &.icon__poor
    width: 70px
    height: 70px
    background-image: url(asset_path('icons/poor.svg'))
  &.icon__poor--sm
    width: 26px
    height: 26px
    background-image: url(asset_path('icons/poor-sm.svg'))

  &.icon__book
    width: 40px
    height: 33px
    background-image: url(asset_path('icons/book.svg'))

  &.icon__book--red
    width: 48px
    height: 48px
    background-image: url(asset_path('icons/book-red.svg'))

  &.icon__arrow--right
    width: 11px
    height: 10px
    background-image: url(asset_path('icons/arrow-right.svg'))

  &.icon__chevron--left
    width: 28px
    height: 28px
    background-image: url(asset_path('icons/chevron-left.svg'))

  &.icon__chevron--right
    width: 28px
    height: 28px
    background-image: url(asset_path('icons/chevron-right.svg'))

  &.icon__options
    width: 19px
    height: 5px
    background-image: url(asset_path('icons/options.svg'))

  &.icon__close
    width: 16px
    height: 24px
    background-image: url(asset_path('icons/close.svg'))

  &.icon__edit
    width: 24px
    height: 24px
    background-image: url(asset_path('icons/edit.svg'))

  &.icon__share--sm
    width: 24px
    height: 24px
    background-image: url(asset_path('icons/share-sm.svg'))

  &.icon__share
    width: 40px
    height: 44px
    background-image: url(asset_path('icons/share.svg'))

  &.icon__facebook
    width: 40px
    height: 40px
    background-image: url(asset_path('icons/facebook.svg'))

  &.icon__twitter
    width: 40px
    height: 40px
    background-image: url(asset_path('icons/twitter.svg'))

  &.icon__layers
    width: 36px
    height: 44px
    background-image: url(asset_path('icons/layers.svg'))

  &.icon__clock
    width: 38px
    height: 44px
    background-image: url(asset_path('icons/clock.svg'))

  &.icon__app-store
    width: 173px
    height: 50px
    background-image: url(asset_path('icons/appstore.svg'))

  &.icon__arrow-scroll-down
    width: 22px
    height: 11px
    background-image: url(asset_path('icons/arrow-scroll-down.svg'))

  &.icon__volunteer
    width: 65px
    height: 65px
    background-image: url(asset_path('icons/volunteer.svg'))

  &.icon__organization
    width: 65px
    height: 65px
    background-image: url(asset_path('icons/organization.svg'))

  &.icon__about
    width: 65px
    height: 65px
    background-image: url(asset_path('icons/about.svg'))

  &.icon__play
    width: 68px
    height: 68px
    background-image: url(asset_path('icons/play.svg'))

  &.icon__dismiss
    width: 50px
    height: 50px
    background-image: url(asset_path('icons/dismiss.svg'))

  &.icon__dismiss--red
    width: 48px
    height: 48px
    background-image: url(asset_path('icons/dismiss-red.svg'))