.img-inline
  display: inline-block

.image__circle-cover
  position: relative
  width: 200px
  max-width: 100%
  display: inline-block
  margin-bottom: 40px
  .image__circle-cover-inner
    padding: 50%
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    border-radius: 50%
  &.image__circle-cover-joe
    .image__circle-cover-inner
      background-image: url(asset_path('joe.jpg'))
  &.image__circle-cover-chip
    .image__circle-cover-inner
      background-image: url(asset_path('chip.jpg'))