.mobile__page
  position: relative
  top: 0
  left: 0
  display: none

@media (max-width: $screen-sm - 1px)
  body > *
    display: none

  .mobile__page,
  .mobile__visible
    display: block !important
