.modal-hint__toggle
  display: none

@media (max-width: $screen-md)
  .modal-hint
    position: fixed
    overflow: scroll
    top: 0
    left: 0
    background: rgba($blue-base, 0.9)
    width: 100%
    height: 100%
    margin: 0
    padding-top: 146px
    padding-bottom: 60px
    z-index: 1010
    display: none

  .modal-hint__toggle
    display: block
    position: absolute
    right: -46px
    top: 6px
    z-index: 1050