.navbar
  font-family: 'hk__grotesk-medium'
  color: $white
  border: 0
  margin-bottom: 0
  font-size: 20px
  &:nth-child(2)
    margin-bottom: 30px
  @media (max-width: $screen-md)
    &:nth-child(2)
      margin-bottom: 74px
  @media (max-width: $screen-sm - 1px)
    height: 125px
    .navbar-nav
      display: none
    .navbar-brand
      float: none
      display: inline-block

.navbar-blue
  background: $blue-base

.navbar-absolute-top
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 10

.navbar-brand-addon
  border-left: 1px solid
  margin-left: 6px
  padding-left: 8px
  line-height: 1
  display: inline-block

.navbar-inverse
  font-family: 'hk__grotesk-light'
  .navbar-brand
    padding: 20px 15px
    height: 125px
  .navbar-nav
    > li
      > a
        padding-top: 52.5px
        padding-bottom: 52.5px
        &.btn-nav
          padding-top: 10px
          padding-bottom: 10px
          margin-top: 41.5px
          margin-bottom: 41.5px
          margin-left: 17px

.navbar-default
  font-size: 16px

  .navbar-nav
    > li
      &.has-avatar
        > a
          padding: 21px 15px
      > .dropdown-menu
        right: auto
        left: 50%
        top: 66px
        border-top-right-radius: 4px
        border-top-left-radius: 4px
        @media (max-width: $screen-md)
          left: 0

  .navbar__headline
    line-height: 60px
    font-size: 16px
    a
      color: $white
      & + .btn
        margin-left: 20px
    a, .btn
      vertical-align: middle
    .dropdown-menu a
      color: $gray-base

    .btn-group
      .btn
        float: none
        padding-top: 0
        padding-bottom: 0
        vertical-align: baseline

  .navbar__title
    font-family: 'hk__grotesk-light'
    line-height: 60px
    margin: 0

  .navbar__brand
    font-size: 20px