.preview
  background: $white
  border-radius: 5px
  max-height: 670px
  overflow-y: scroll

  &.community
    .preview__content a
      color: $category-color-community
    .preview__header
      background: $category-color-community

  &.poor
    .preview__content a
      color: $category-color-poor
    .preview__header
      background: $category-color-poor

  &.animals
    .preview__content a
      color: $category-color-animals
    .preview__header
      background: $category-color-animals

  &.children
    .preview__content a
      color: $category-color-children
    .preview__header
      background: $category-color-children

  &.elderly
    .preview__content a
      color: $category-color-elderly
    .preview__header
      background: $category-color-elderly

  .canvas__preview
    border: 2px solid $white
    margin: 0

.preview__header
  height: 280px
  padding: 25px 35px
  color: $white
  border-radius: 5px 5px 0 0

.preview__title
  margin: 20px 0 15px

.preview__header-link
  color: $white

.preview__image-container
  display: inline-block
  position: relative
  .background__preview
    display: block
    width: 68px
    height: 68px
    border-radius: 50%
    border: 2px solid $white
    background-color: $gray-medium
    background-position: center center
    background-repeat: no-repeat
    background-size: cover

.preview__category-plug
  display: block
  width: 68px
  height: 68px
  border-radius: 50%
  border: 2px solid $white

.preview__category-icon
  border: 2px solid $white
  position: absolute
  border-radius: 50%
  bottom: 0
  right: 0

.preview__content
  padding: 20px
  .map
    border-radius: 0 0 5px 5px

.preview__content-header
  margin-bottom: 20px

.preview__details
  color: $gray-medium-dark
  margin-bottom: 20px

.preview__location
  &:before
    content: ''
    width: 9px
    height: 12px
    background-image: url(asset_path('icons/pin.svg'))
    display: inline-block
    margin-right: 6px

.preview__description
  margin-bottom: 20px

.preview__contact-container
  line-height: 26px

.preview__map
  position: relative

.preview__map-container
  margin: 20px -20px -20px
  position: relative

.preview__map-title
  position: absolute
  bottom: 25px
  left: 25px
  background: $white
  width: 335px
  text-align: center
  padding: 12px 24px
  border-radius: 6px
