body, html
  width: 100%
  height: 100%
  position: relative

section
  position: relative

.section__bg--cover
  padding: 132px 0 68px
  background-size: cover
  background-repeat: no-repeat
  background-position: center center

.section__bg--cover-index
  background-image: url(asset_path('bg-index.jpg'))

.section__bg--cover-about
  background-image: url(asset_path('bg-about.jpg'))

.section__bg--cover-organization
  background-image: url(asset_path('bg-organization.jpg'))

.section__bg--cover-app
  background-image: url(asset_path('bg-app.jpg'))

.section__banner
  min-height: 810px
  height: 100%
  .text__huge
    line-height: 1.6
    margin-bottom: 72px
  .icon__arrow-scroll-down
    position: absolute
    bottom: 50px
    left: 50%
    transform: translateX(-50%)
    opacity: 0
    transition: 0.5s all
    animation-delay: 1s
    animation-duration: 1s
    animation-name: arrow-scroll-down
    animation-timing-function: ease-out
    animation-fill-mode: forwards
  .btn-play-absolute-right
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 65%
    @media (max-width: $screen-md)
      left: 80%

.page__title
  font-size: 62px
  margin-bottom: 30px
  @media (max-width: $screen-sm - 1px)
    font-size: 40px

.section__screen
  width: 100%
  min-height: 100%

.section__regular
  padding-top: 100px
  padding-bottom: 100px

.section__no-bottom
  padding-bottom: 0

.section__white
  background: $white

.section__title
  margin-bottom: 30px

.section__title--lg
  font-size: 40px

.section__subtitle
  line-height: 1.5
  margin-bottom: 40px
  @media (max-width: $screen-sm - 1px)
    font-size: 18px

.section__footer
  padding: 20px 0 63px

.section__block-row
  .section__block
    border-right: 1px solid $gray-light
    &:last-child
      border-right: 0

  .section__block-inner
    padding: 36px 45px
    @media (max-width: $screen-md)
      padding: 36px 0
    .icon
      margin-bottom: 25px

  .section__block--wide
    .section__block-inner
      padding: 36px 0

  .section__block--no-border
    border-right: 0

  .btn
    margin-top: 20px
    margin-bottom: 40px

.section__iphone
  overflow: hidden
  .iphone
    content: ''
    position: absolute
    width: 380px
    height: 716px
    background-size: cover
    top: calc(50% - 358px)
    right: calc(50% - 585px)
    background-repeat: no-repeat
    background-position: center center
    background-image: url(asset_path('iphone-@1x.png'))

  @media screen and (-webkit-min-device-pixel-ratio: 2)
    .iphone
      background-image: url(asset_path('iphone-@2x.png'))

  @media (max-width: $screen-md)
    .iphone
      width: 300px
      height: 565px
      right: calc(50% - 150px)
      bottom: -222px
      top: auto

  @media (max-width: $screen-sm - 1px)
    padding-bottom: 380px
    padding-top: 40px
    min-height: 0
    height: auto

.section__macbook
  overflow: hidden
  .macbook
    display: block
    content: ''
    position: absolute
    width: 1059px
    height: 603px
    background-size: cover
    top: calc(50% - 302px)
    left: 50%
    background-repeat: no-repeat
    background-position: center center
    background-image: url(asset_path('macbook-@1x.png'))

  .ipad
    display: none
    content: ''
    position: absolute
    width: 534px
    height: 742px
    background-size: cover
    bottom: -448px
    left: calc(50% - 267px)
    background-repeat: no-repeat
    background-position: center center
    background-image: url(asset_path('ipad-@1x.png'))

  @media screen and (-webkit-min-device-pixel-ratio: 2)
    .macbook
      background-image: url(asset_path('macbook-@2x.png'))
    .ipad
      background-image: url(asset_path('ipad-@2x.png'))

  @media (max-width: $screen-md)
    .macbook
      display: none
    .ipad
      display: block

.section__page
  padding-top: 200px
  @media (max-width: $screen-sm - 1px)
    padding-top: 165px

.section__bg--cover + .section__page
  padding-top: 100px

.section__welcome
  min-height: 960px
  @media (max-width: $screen-md)
    height: auto
    .v-align-middle
      position: relative
      top: 0%
      transform: none

.paragraph__title
  margin-top: 28px
  margin-bottom: 20px

.footer__block
  margin-top: 30px
  .icon
    margin: 0 6px

.footer__title
  margin-bottom: 20px

.section__content-editable
  h2
    font-family: 'hk__grotesk-medium'
    font-size: 30px
    margin-bottom: 30px
    margin-top: 20px
    text-align: center
    text-transform: uppercase
  h3
    font-family: 'hk__grotesk-light'
    font-size: 20px
    margin-bottom: 40px
    margin-top: 40px
    text-align: center
    text-transform: uppercase
  h4
    font-family: 'hk__grotesk-bold'
    font-size: 18px
    margin-bottom: 20px
    margin-top: 28px
  hr
    border-color: $gray-medium-dark
    margin-top: 40px
    margin-bottom: 40px
