$background: #e74c3c
$select-color: #fff
$select-background: #c0392b

.select__category
  cursor: pointer
  display: inline-block
  position: relative
  width: 100%
  .icon
    margin-right: 8px

.select__category-field
  width: 100%
  font-size: 16px
  padding: 0 5px 10px 5px
  border-bottom: 1px solid $gray-medium
  &:after
    content: ''
    position: absolute
    top: 4px
    right: 6px
    width: 19px
    height: 19px
    background: url(asset_path('icons/arrow-down.svg'))
  &:active,
  &.active
    &:after 
      transform: rotate(180deg)

.select__category-list
  display: none
  position: absolute
  width: calc(100% + 36px)
  top: 100%
  right: 0
  left: -18px
  z-index: 999
  margin: 0
  padding: 0
  list-style: none
  background: $white
  li 
    margin: 0
    padding: 12px 23px
    font-size: 16px