.table
  margin-bottom: 0

  tbody
    tr
      td
        border-top: 0
        vertical-align: middle

.table__title
  padding-left: 20px

.table--opportunities
  a
    color: inherit
    text-decoration: none
  tbody
    tr
      td
        opacity: 0.6
        @media (max-width: $screen-md)
          padding: 32px 10px

      &.active
        td
          background-color: transparent
          opacity: 1

      td:nth-child(1)
        padding-left: 32px
        padding-right: 10px
        width: 68px
        @media (max-width: $screen-md)
          padding-left: 10px

      td:nth-child(3)
        width: 140px
        @media (max-width: $screen-md)
          width: 110px

      td:nth-child(4)
        width: 166px
        @media (max-width: $screen-md)
          width: 136px

      td:nth-child(5)
        width: 93px
        position: relative
        z-index: 10
        @media (max-width: $screen-md)
          padding: 32px 15px 32px 0

.table--users
  tbody
    tr
      border-bottom: 0
      td
        width: 50%
        padding: 15px 8px
        .avatar__preview
          margin-right: 15px

.table__actions
  position: absolute
  top: 0
  left: 20px
  width: 100%
  height: 100%
  z-index: 5
  padding-right: 65px
  background-image: linear-gradient(to right, rgba($white, 0) 0%, $white 85%, $white 100%)
  transition: 0.3s left, 0.2s opacity
  opacity: 0
  display: none
  &.active
    left: 0
    opacity: 1
  .table
    width: 100%
    height: 100%

.table__action-link
  padding-left: 30px
  display: inline-block
  .icon
    margin-bottom: 15px