.nav.nav-tabs
  &.nav-justified
    > li
      > a
        border: 0
        margin-bottom: 0
        font-family: "hk__grotesk-medium"
        font-size: 16px
        color: $gray-base
        &:before
          content: ''
          background-image: url(asset_path('icons/checked-blue.svg'))
          background-position: center center
          background-repeat: no-repeat
          width: 11px
          height: 8px
          display: inline-block
          vertical-align: middle
          margin-right: 8px
        &:hover,
        &:active,
        &:focus
          background: transparent
          border-bottom: 0
      &.active
        > a
          color: $gray-base
          border: 0
          &:before
            content: none
          &:hover,
          &:active,
          &:focus
            border: 0
            background: $white
      &.disabled
        > a
          color: rgba($gray-base, 0.5)
          &:before
            content: none
          &:hover,
          &:active,
          &:focus
            cursor: default
            color: rgba($gray-base, 0.5)
    @media (max-width: $screen-md)
      display: none

  &.nav-inline
    margin-bottom: 50px
    > li
      display: inline-block
      float: none
      &:last-child
        > a
          border-right: 0
      > a
        border: 0
        border-right: 1px solid $gray-light
        border-radius: 0
        margin-bottom: 0
        margin-right: 0
        font-family: "hk__grotesk-regular"
        font-size: 16px
        color: $gray-base
        padding: 3px 15px
        &:hover,
        &:active,
        &:focus
          background: transparent
          border-bottom: 0
      &.active
        > a
          &[href='#community']
            color: $category-color-community
          &[href='#poor']
            color: $category-color-poor
          &[href='#animals']
            color: $category-color-animals
          &[href='#children']
            color: $category-color-children
          &[href='#elderly']
            color: $category-color-elderly
          &:hover,
          &:active,
          &:focus
            background: $white
    @media (max-width: $screen-md)
      > li
        > a
          padding: 3px 12px

.tab-pane__actions
  position: absolute
  width: 100%
  bottom: 0
  right: 0
  padding: 0 80px

.tab-pane-white
  position: relative
  background: $white
  border-radius: 5px
  box-shadow: 0px 4px 10px 0px rgba(62, 91, 199, 0.04)

.tab-pane--form
  min-height: 670px
  padding: 40px 80px 96px
  &:first-child
    border-top-left-radius: 0
  &:last-child
    border-top-right-radius: 0
  @media (max-width: $screen-md)
    &:first-child
      border-top-left-radius: 5px
    &:last-child
      border-top-right-radius: 5px

.tab-pane--block
  padding: 40px 80px 96px
  &.regular
    padding: 40px 80px 40px

.tab-pane--hint
  width: 100%
  max-width: 420px
  margin: 120px auto 0
  padding: 40px 30px

.tab-pane--iphone
  width: 100%
  max-width: 385px
  margin: 0 auto
  background: transparent
  box-shadow: 0px 4px 10px 0px rgba(62, 91, 199, 0.04)

.tab-pane--list
  margin-bottom: 20px
  overflow: hidden

.tab-pane--list-item
  position: relative
  border-bottom: 2px solid #E6E7E5

  &:last-child
    border-bottom: 0

.hint__block
  margin: 0 auto 20px

.tab-pane-footer
  margin-top: 30px