.video__modal
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: none
  z-index: 1000

.video__container
  position: relative
  width: 100%
  height: 100%

  .btn-dismiss
    position: absolute
    top: 30px
    right: 30px
    z-index: 1005
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25)
    border-radius: 50%
    opacity: 0.9
    transition: .3s opacity
    &:hover
      opacity: 1

.video__iframe
  width: 100%
  height: 100%