%nav.navbar.navbar-default.navbar-blue
  .container
    .row.navbar__headline
      .col-md-5.col-sm-6

        %span.text__gray--medium Show only
        %span.btn-group
          %button.btn.btn-transparent.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } }
            = Opportunity.status_name_for(params[:with_status]) || 'All'
            %span.caret
          %ul.dropdown-menu.text-center
            %li= link_to 'All', opportunities_path({}.merge(params.slice(:sort_by))), class: 'text__gray--base'
            %li.divider{ role: 'separator' }
            - Opportunity.statuses.each do |key, val|
              %li= link_to key, opportunities_path({ with_status: val }.merge(params.slice(:sort_by)))

        %span.text__gray--medium Sort by
        %span.btn-group
          %button.btn.btn-transparent.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } }
            - if params[:sort_by]
              = params[:sort_by].humanize
            - else
              Start date
            %span.caret
          %ul.dropdown-menu.text-center
            %li= link_to 'Start date', opportunities_path({ sort_by: 'start_date' }.merge(params.slice(:with_status)))
            %li= link_to 'Created at', opportunities_path({ sort_by: 'created_at' }.merge(params.slice(:with_status)))

      .col-md-2.text-center.hidden-sm
        %h3.navbar__title Dashboard
      .col-md-5.col-sm-6.text-right
        = link_to 'Create new opportunity', new_opportunity_path, class: 'btn btn-circle btn-prepend-plus'

.container.content-container
  = react_component('OpportunityList', opportunities: @serialized_opportunities, categories: @serialized_categories, statuses: @serialized_statuses)
