%nav.navbar.navbar-default.navbar-blue
  .container
    .row.navbar__headline
      .col-sm-4
        = link_to 'Back to dashboard', opportunities_path, class: 'btn btn-back'
      .col-sm-4.text-center
        %h3.navbar__title New Opportunity
      .col-sm-4.text-right
        = react_component('OpportunityActions')

%script{ type: 'text/javascript', src: 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDgriePPEz5BH7yv2P9z-ARcOfQpO2-ME8&libraries=places' }

.container.content-container
  = react_component('OpportunityEditor', opportunity: @serialized_opportunity, categories: @serialized_categories, contacts: @serialized_contacts, url: opportunities_path, http_method: 'POST')
