%nav.navbar.navbar-default.navbar-blue
  .container
    .row.navbar__headline
      .col-sm-4
        = link_to 'Back to dashboard', opportunities_path, class: 'btn btn-back'
      .col-sm-4.text-center
        %h3.navbar__title Opportunity
      .col-sm-4.text-right
        - unless @opportunity.closed?
          = link_to 'Close', close_opportunity_path(@opportunity), method: :post
          = link_to 'Edit', edit_opportunity_path(@opportunity), class: 'btn btn-circle'

%script{ type: 'text/javascript', src: 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDgriePPEz5BH7yv2P9z-ARcOfQpO2-ME8&libraries=places' }

.container.content-container
  .row
    .col-md-6
      = react_component('OpportunityStatistic', opportunity: @serialized_opportunity)
    .col-md-6.hidden-sm
      .tab-pane--iphone
        = react_component('OpportunityPreview', opportunity: @serialized_opportunity, categories: @serialized_categories)
