@font-face
  font-family: 'hk__grotesk-bold'
  src: font-url('hk-grotesk/hkgrotesk-bold.eot')
  src: font-url('hk-grotesk/hkgrotesk-bold.eot?#iefix') format("embedded-opentype"), font-url('hk-grotesk/hkgrotesk-bold.woff2') format("woff2"), font-url('hk-grotesk/hkgrotesk-bold.woff') format("woff"), font-url('hk-grotesk/hkgrotesk-bold.ttf') format("truetype")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'hk__grotesk-medium'
  src: font-url('hk-grotesk/hkgrotesk-medium.eot')
  src: font-url('hk-grotesk/hkgrotesk-medium.eot?#iefix') format("embedded-opentype"), font-url('hk-grotesk/hkgrotesk-medium.woff2') format("woff2"), font-url('hk-grotesk/hkgrotesk-medium.woff') format("woff"), font-url('hk-grotesk/hkgrotesk-medium.ttf') format("truetype")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'hk__grotesk-light'
  src: font-url('hk-grotesk/hkgrotesk-light.eot')
  src: font-url('hk-grotesk/hkgrotesk-light.eot?#iefix') format("embedded-opentype"), font-url('hk-grotesk/hkgrotesk-light.woff2') format("woff2"), font-url('hk-grotesk/hkgrotesk-light.woff') format("woff"), font-url('hk-grotesk/hkgrotesk-light.ttf') format("truetype")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'hk__grotesk-regular'
  src: font-url('hk-grotesk/hkgrotesk-regular.eot')
  src: font-url('hk-grotesk/hkgrotesk-regular.eot?#iefix') format("embedded-opentype"), font-url('hk-grotesk/hkgrotesk-regular.woff2') format("woff2"), font-url('hk-grotesk/hkgrotesk-regular.woff') format("woff"), font-url('hk-grotesk/hkgrotesk-regular.ttf') format("truetype")
  font-weight: normal
  font-style: normal

.hk__grotesk-bold
  font-family: 'hk__grotesk-bold'

.hk__grotesk-medium
  font-family: 'hk__grotesk-medium'

.hk__grotesk-light
  font-family: 'hk__grotesk-light'

.hk__grotesk-regular
  font-family: 'hk__grotesk-regular'

b, strong
  font-family: 'hk__grotesk-bold'
  font-weight: normal

.text-decorate-none
  text-decoration: none
  &:hover
    text-decoration: none

.text__white
  color: $white

.text__huge
  font-size: 18px

.text__medium
  font-size: 16px

.text__gray--base
  color: $gray-base
  &:hover
    color: $gray-base

.text__gray--medium
  color: $gray-medium

.text__gray--light
  color: $gray-light

.text__blue--light
  color: $blue-light

.text__gray--medium-dark
  color: $gray-medium-dark

.text-center-sm
  @media (max-width: 992px) // $screen-md
    text-align: center