%section.section__bg--cover.section__bg--cover-index.section__banner.text__white.section__iphone.mobile__page
  .v-align-middle.reset-sm
    .container.text-center-sm
      .row
        .col-md-5.col-md-offset-1.col-sm-8.col-sm-offset-2
          %h1.hk__grotesk-light.page__title Spread some kindness!
          %p.text__huge.hk__grotesk-light
            JoeVolunteer is making volunteering easy, fun, and COOL.
            We are putting a freaking dent in the UNIVERSE by increasing human kindness
            and volunteerism throughout the entire world by ten-fold.
            That’s not a typo-our Moms taught us to dream big.
          = link_to '#' do
            %span.icon.icon__app-store
  .iphone.animate-scroll-fade-in-offset-top-1