!!!
%html
  %head
    %title JoeVolunteer | Administration
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, user-scalable=no' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1' }
    = stylesheet_link_tag    'administration', media: 'all'
    = javascript_include_tag 'administration'
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-default.navbar-blue.mobile__visible
      .container
        .navbar-header
          = link_to administration_path, class: 'navbar-brand navbar__brand hk__grotesk-bold' do
            JoeVolunteer
            %span.navbar-brand-addon.hk__grotesk-light.text__huge.text__gray--medium
              administration
        - if admin_signed_in?
          %ul.nav.navbar-nav.navbar-right
            %li= link_to 'CMS',           phrasing_phrases_path
            %li= link_to 'Users',         administration_users_path
            %li= link_to 'Organizations', administration_organizations_path
            %li= link_to 'Opportunities', administration_opportunities_path
            %li= link_to 'Sign out',      destroy_admin_session_path, method: :delete

    %br
    %br
    %br

    .container.mobile__visible
      = yield

    %br
    %br
    %br