!!!
%html
  %head
    %title JoeVolunteer | Organizations
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, user-scalable=no' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1' }
    = stylesheet_link_tag    'organization', media: 'all'
    = javascript_include_tag 'organization'
    %link{ href: '/apple-icon-57x57.png', rel: 'apple-touch-icon', sizes: '57x57' }
    %link{ href: '/apple-icon-60x60.png', rel: 'apple-touch-icon', sizes: '60x60' }
    %link{ href: '/apple-icon-72x72.png', rel: 'apple-touch-icon', sizes: '72x72' }
    %link{ href: '/apple-icon-76x76.png', rel: 'apple-touch-icon', sizes: '76x76' }
    %link{ href: '/apple-icon-114x114.png', rel: 'apple-touch-icon', sizes: '114x114' }
    %link{ href: '/apple-icon-120x120.png', rel: 'apple-touch-icon', sizes: '120x120' }
    %link{ href: '/apple-icon-144x144.png', rel: 'apple-touch-icon', sizes: '144x144' }
    %link{ href: '/apple-icon-152x152.png', rel: 'apple-touch-icon', sizes: '152x152' }
    %link{ href: '/apple-icon-180x180.png', rel: 'apple-touch-icon', sizes: '180x180' }
    %link{ href: '/android-icon-192x192.png', rel: 'icon', sizes: '192x192', type: 'image/png' }
    %link{ href: '/favicon-32x32.png', rel: 'icon', sizes: '32x32', type: 'image/png' }
    %link{ href: '/favicon-96x96.png', rel: 'icon', sizes: '96x96', type: 'image/png' }
    %link{ href: '/favicon-16x16.png', rel: 'icon', sizes: '16x16', type: 'image/png' }
    %link{ href: '/manifest.json', rel: 'manifest' }
    %meta{ content: '#ffffff', name: 'msapplication-TileColor' }
    %meta{ content: '/ms-icon-144x144.png', name: 'msapplication-TileImage' }
    %meta{ content: '#ffffff', name: 'theme-color' }
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-default.navbar-blue
      .container
        .navbar-header
          = link_to opportunities_path, class: 'navbar-brand navbar__brand hk__grotesk-bold' do
            JoeVolunteer
            %span.navbar-brand-addon.hk__grotesk-light.text__huge.text__gray--medium
              organizations
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            -#%li= link_to 'Help', '#'
            %li= link_to 'Dashboard', opportunities_path
            -#%li= link_to 'Activity', '#'
            %li.has-avatar
              %a.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' }, role: 'button', aria: { haspopup: 'true', expanded: 'false' } }
                %span.avatar__preview{ style: "background-image: url(#{current_user.image.url})" }
              %ul.dropdown-menu.text-center
                %li= link_to 'Settings', settings_path
                %li= link_to 'Sign out', destroy_session_path, method: :delete
          - else
            %li= link_to 'Sign in', new_session_path
            %li= link_to 'Sign up', new_registration_path

    = yield

    = render 'layouts/mobile_version'